<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the best Movie Review website </title>
        {% endif %}
        {% extends 'bootstrap/base.html'%}
    </head>
    <body>
        <!-- navbar -->
        {% block navbar %}
            {% include 'navbar.html' %}
        {% endblock %}
        <!-- Content block -->

        {% block content %}

        {% endblock%}
    </body>
</html>